* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

svg {
    width: 100%;
    height: auto;
}

#infoPais {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    background-color: white;
    border: solid black 0.1px;
}

#infoPais img {
    height: 100px;
    width: 150px;
}

#infoPais div {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

button {
    position: fixed;
    right: 0;
    bottom: 0;
}

@media (max-width:1024px){
    svg {
        height: 70vh;
    }
}